name: check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '13.x'
      - run: yarn install
      # - name: Test
      #   uses: borales/actions-yarn/@v2.0.0
      #   with:
      #     cmd: test
      - run: yarn lint
